<!-- <h1 id="wattthevolt">⚡ WattTheVolt</h1> -->
<div id="wattthevolt">
    <div class="title-row">
        <img
            style="width: 3rem"
            src="css/images/wtv_bolt_2.png"
            alt="thunderbolt"
        />
        <h1>WattTheVolt</h1>
    </div>
    <p id="tagline">
        An honest blog about becoming an electrician as an adult learner.
    </p>
</div>

<nav
    style="
        display: flex;
        padding: 1rem;
        flex-direction: row;
        justify-content: space-evenly;
    "
    class="--bg-dark"
>
    <a href="index.html" style="text-decoration: none">Home</a>
    <a href="about.html" style="text-decoration: none">About</a>
    <a href="privacy-policy.html" style="text-decoration: none">Privacy</a>
    <a href="terms-of-service.html" style="text-decoration: none">Terms</a>
    <a href="contact.html" style="text-decoration: none">Contact</a>
</nav>
